<div class="container">
  <div class="row p-2">
    <h1>New Business Profile</h1>
  </div>
  <%= render 'form', business_profile: @business_profile %>
  <%= link_to 'Back to dashboard', "/dashboards" %>
</div>
