<form action="/search/Melbourne" method="get">
  <button type="submit" name="trade_all" value="4" class="m-2 btn btn-outline-primary border-0" >
    <%= image_tag "t2.jpg", class:"img",width:"150",height:"120"%>
    <p class="category-text">Tiler</p>
  </button>
  <button type="submit" name="trade_all" value="2" class="m-2 btn btn-outline-primary border-0">
    <%= image_tag "t5.jpg", class:"img",width:"150",height:"120"%>
    <p class="category-text">Plumber</p>
  </button>
  <button type="submit" name="trade_all" value="5" class="m-2 btn btn-outline-primary border-0" >
    <%= image_tag "t4.jpg", class:"img",width:"150",height:"120"%>
    <p class="category-text">Gardener</p>
  </button>
  <button type="submit" name="trade_all" value="3" class="m-2 btn btn-outline-primary border-0">
    <%= image_tag "t3.jpg", class:"img",width:"150",height:"120"%>
    <p class="category-text">Painter</p>
  </button>
</form>
