<div class="home-nav">
  <%= render 'nav' %>
</div>
<div class="jumbotron jumbotron-fluid bg">
  <div class="container">
    <h1 class="display-4">
      <span class="badge badge-secondary display-2">Find a Trade.com</span>
    </h1>
    <p class="lead">&nbsp Find your local tradie </p>
    <br>
  </div>
  <div class="search-wrapper">
    <div class="container">
      <div class="row">
        <select  id="trade_selectbox" class="form-control col-9 ">
        </select>
        <select class="form-control col-3">
          <option selected="selected">melbourne</option>
          <option>white</option>
          <option>purple</option>
        </select>
      </div>
    </div>
  </div>
