<div class="home-nav">
  <%= render 'nav' %>
</div>
<div class="jumbotron jumbotron-fluid bg">
  <div class="container">
    <h1 class="display-4">
      <span class="badge badge-secondary display-2">Find a Trade.com</span>
    </h1>
    <p class="lead">&nbsp Find your local tradie </p>
    <br>
  </div>
  <div class="search-wrapper">
    <div class="container">
      <div class="row">
        <label for="trade_selectbox">Trade</label>
        <select name="trade"  id="trade_selectbox" class="form-control w100" placeholder="Enter Trade">
        </select>
        <label for="location_selectbox">Location</label>
        <select name="location" id="location_selectbox" class="form-control w100" placeholder="Enter Suburb">
        </select>
      </div>
    </div>
  </div>
