<div class="home-nav">
  <%= render 'nav' %>
</div>
<div class="jumbotron jumbotron-fluid mb-0 pb-0">
  <div class="container">
    <h1 class="display-4  ">
      <span class="badge badge-secondary display-2 p-2">Find a Trade.com</span>
    </h1>
    <p class="lead">&nbsp Find your local tradie </p>
    <br>
  </div>
</div>
<div class="container p-5">
  <form action="/search" method="get">
    <div class="row">
      <div class="input-group mb-3 col-lg-6">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Trade</span>
        </div>
        <select name="trade"  id="trade_selectbox" class="form-control">
        </select>
      </div>
      <div class="input-group mb-3 col-lg-6">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Location</span>
        </div>
        <select name="location" id="location_selectbox" class="form-control">
        </select>
      </div>
    </div>
    <br>
    <div class="form-group text-center">
      <%= button_tag :class => "btn btn-info" do %>
        Search <%=fa_icon('search') %>
      <% end %>
    </div>
  </form>
</div>
