<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"> <%= link_to "Sign out", destroy_user_session_path, {method: :delete} %></li>
  </ol>
</nav>
