<% if !current_user %>
  <div class="container">
    <h1>Something Went wrong!!</h1>
    <%= link_to "return to home", "/", {method: :get} %>
  </div>
<% else %>
  <div class="home-nav">
    <%= render 'user_nav' %>
  </div>
  <%= render 'profile' %>
<% end %>
