/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require select2
 *= require font-awesome
 *= require home
 *= require dashboards
 *= require business_profiles
 */

@import 'bootstrap';

body {
  min-height: 100vh;
  background: #f5f5f5;
}
#error_explanation {
  background-color: white;
  ul {
    color: red;
  }
}

.alert {
  position: relative;
  color: red;
  z-index: 1;
}

.notice {
  position: absolute;
  color: black;
  z-index: 1;
  display: flex;
}
