<label class="amount">
  <%@amount = amount%>
  AUD <%= label_tag(:amount, @amount) %>
  <%= hidden_field_tag(:amount, @amount) %>
</label>
</article>
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Purchase Book"
          data-amount="<%= 100 * @amount%>"
          data-locale="auto"
          data-currency="aud"></script>
